@import "_null";

body {
   margin: 0;
   font-family: "Lato", sans-serif;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   line-height: 17px;
}

.wrap {
   width: 1140px;
   outline: 1px solid red;
   margin: 0 auto;
}

.header {
   height: 75px;
   background-color: #222222;
   color: white;
   display: flex;
   align-items: center;
}

.header-wrap {
   display: flex;
   justify-content: space-between;
}

.promo {
   background-color: #f1e4e6;
}

.content {
   background-color: white;
   flex-grow: 1;
}

.footer {
   background-color: #222222;
   color: white;
}

.logo {
   height: 40px;
}

.header-left {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header-right {
   display: flex;
   align-items: center;
   gap: 20px;
}

.profile {
}

.cart {
}
